<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hash_table.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <hash_table.Properties.Settings>
            <setting name="dataSource" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>1001,1,Jersey_Cow</string>
                        <string>1002,1,Jersey_Cow</string>
                        <string>1003,1,Jersey_Cow</string>
                        <string>1004,1,Cow</string>
                        <string>1005,1,Cow</string>
                        <string>1006,1,Cow</string>
                        <string>1007,1,Goat</string>
                        <string>1008,1,Goat</string>
                        <string>1009,1,Goat</string>
                        <string>1010,1,Goat</string>
                    </ArrayOfString>
                </value>
            </setting>
        </hash_table.Properties.Settings>
    </applicationSettings>
</configuration>